<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <table>
            <h5><a th:href="@{/}">Back Home</a></h5>

            <tr th:each="vehicle : ${vehicles}">
                <td><span th:text="${vehicle.make}"></span></td>
                <td><span th:text="${vehicle.model}"></span></td>
            </tr>
        </table>
    </body>
</html>